<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly Name="System.Core" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.AttributedRegistration.UnitTests.CUT.dll" #>
<#@ import Namespace="DryIoc" #>
<#@ import Namespace="DryIoc.MefAttributedModel" #>
<#@ import Namespace="DryIoc.AttributedRegistration.UnitTests.CUT" #>
namespace DryIoc.AttributedRegistration.CompileTimeAssemblyScan.Tests
{
    public static class CompileTimeGeneratedRegistrator
    {
        public static readonly TypeExportInfo[] Registrations =
        {
<#
        var assembly = typeof(TransientService).Assembly;
        var infos = AttributedModel.DiscoverExportsInAssemblies(new [] { assembly });
        foreach (var info in infos)
        {
#>
<#= info.ToCode() #>, 
<#
        }
#>
        };
    }
}