<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly Name="System" #>
<#@ assembly Name="System.Core" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.UnitTests.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.MefAttributedModel.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.MefAttributedModel.UnitTests.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.MefAttributedModel.UnitTests.CUT.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\ExpressionToCodeLib.dll" #>
<#@ import Namespace="System.Reflection" #>
<#@ import Namespace="System.Text" #>
<#@ import Namespace="System.Linq" #>
<#@ import Namespace="ExpressionToCodeLib" #>
<#@ import Namespace="DryIoc" #>
<#@ import Namespace="DryIoc.UnitTests" #>
<#@ import Namespace="DryIoc.MefAttributedModel" #>
<#@ import Namespace="ExpressionToCodeLib.Unstable_v2_Api" #>
<#
var container = new Container(rules => rules
    .WithoutSingletonOptimization()
    .WithMefAttributedModel());

// NOTE: Specify implementation types to Register:
var assembly = typeof(DryIoc.MefAttributedModel.UnitTests.CUT.IForExport).GetAssembly();
var types = assembly.GetLoadedTypes();
container.RegisterExports(types);
#>
namespace DryIoc.CompileTimeGeneration.Tests
{
    using System;
    using System.Linq; // For Cast method required for LazyEnumerable<T>

    public partial class ServiceFactory
    {
        static ServiceFactory()
        {
<#
    var exprToCode = ExpressionStringify.With(fullTypeNames: true, explicitMethodTypeArgs: true);

    var registrations = container.GetServiceRegistrations().Where(r => !r.ServiceType.IsGenericDefinition());
    foreach (var r in registrations)
    {
        try
        {
            var factoryExpr = container.Resolve<FactoryExpression<object>>(r.OptionalServiceKey, IfUnresolved.Throw, r.ServiceType);
            
            var serviceTypeName = ObjectStringify.WithFullTypeNames.PlainObjectToCode(r.ServiceType, typeof(Type));
            var code = exprToCode.ToCode(factoryExpr.Value);

            if (r.OptionalServiceKey == null)
            {
#>

            Register(<#=serviceTypeName #>, 
                <#=code #>);
<#
            }
            else
            {
                var serviceKeyString = new StringBuilder().AppendCode(r.OptionalServiceKey).ToString();
                //var serviceKeyString = ObjectStringify.WithFullTypeNames.PlainObjectToCode(r.OptionalServiceKey, null);
#>

            Register(<#=serviceTypeName #>, <#=serviceKeyString#>, 
                <#=code #>);
<#
            }
        }
        catch (Exception ex)
        {
#>
/* 
Resolution of <#=ObjectStringify.WithFullTypeNames.TypeNameToCode(r.ServiceType)#>
Failed with: <#=ObjectStringify.WithFullTypeNames.TypeNameToCode(ex.GetType())#>
----------------------
<#=ex.Message#>
*/
<#
        }
    }
#>
        } // end of static constructor
    }
}