<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly Name="System.Core" #>

<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.MefAttributedModel.dll" #>
<#@ assembly Name="$(ProjectDir)..\bin\Release\DryIoc.MefAttributedModel.UnitTests.CUT.dll" #>
<#@ import Namespace="DryIoc.MefAttributedModel" #>
<#@ import Namespace="DryIoc.MefAttributedModel.UnitTests.CUT" #>
namespace DryIoc.MefAttributedModel.CompileTimeAssemblyScan.Tests
{
    public static class CompileTimeGeneratedRegistrator
    {
        public static readonly ExportedRegistrationInfo[] Registrations =
        {
<#
        var assembly = typeof(TransientService).Assembly;
        var infos = AttributedModel.Scan(new [] { assembly });
        foreach (var info in infos)
        {
#>
<#= info.ToCode().ToString() #>, 
<#
        }
#>
        };
    }
}